// breakpoints

$phone-sm: 320px;
$phone-md: 375px;
$phone: 480px;
$phone-lg: 576px;
$tablet: 768px;
$tablet-lg: 992px;
$desktop: 1024px;
$widescreen: 1200px;
$widescreen-md: 1360px;
$widescreen-lg: 1440px;
$widescreen-full: 1600px;
$full-hd: 1920px;

//colors

//text
$primaryText: #fff;
$secondText: #CFCFCF;

//Header
$buttonColor: linear-gradient(114.93deg, #618967 5.11%, #72a479 94%);
$headerContactLinkColor: #65906C;
$headerBackgroundColor: #403C3B;
$inputBackgroundColor: #504b4a;
$counterTextColor: black;
$navBackgroundColor: linear-gradient(#211F20, #44403F);

//Intro
$introBackgroundGradient: linear-gradient(90deg, #211F20 0%, rgba(68, 64, 63, 0) 100%);

//Navbar
$activeItemLineColor: #618967;
$scrollNavBar: #618967;

//Main
$mainBackgroundColor: linear-gradient(360deg, #211F20 0%, #44403F 100%);
$cardBackgroundColor: linear-gradient(90deg, #494544 0%, #504B4A 100%);


//About
$aboutButtonColor: linear-gradient(360deg, #211F20 0%, #44403F 100%);
$tileBackgroundColor: #504B4A;
$aboutContactsBlockBackground: #2E2B2C;

//Footer
$footerBackgroundColor: linear-gradient(270.7deg, #44403F 0.4%, #211F20 100%);